  <!-- container -->
  <div class="container">

    <!-- selector -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row selector">

        <!-- Selectores - Columna 1 -->
        <form class="form-horizontal col-md-4" role="form" >
            <!-- Selector de semestre -->
            <div class="form-group">
              <label for="exampleInputEmail1" class="col-md-3 control-label">Semestre</label>
              <div class="col-md-9">
                <select type="text" class="form-control" ng-model="areas.selectedSemestre" ng-options="obj for obj in areas.semestres" ng-change="areas.updateStudentData()">
                </select>
              </div>
            </div> <!-- Selector de semestre -->

            <!-- Selector de area -->
            <div class="form-group">
              <label class="col-md-3 control-label">Area</label>
              <div class="col-md-9">
                <select type="text" class="form-control" ng-model="areas.selectedArea" ng-options="obj.name as obj.name for obj in areas.areas  | orderBy:'name'" ng-change="areas.updateStudentData()">
                </select>
              </div>
            </div> <!-- Selector de area -->



 
        </form> <!-- Selectores - Columna 1 -->

        <!-- Selectores - Columna 2 -->
        <form class="form-horizontal col-md-4" role="form" >

            <!-- Selector de año de estudio -->
            <div class="form-group">
              <label class="col-md-7 control-label">Año en la carrera</label>
              <div class="col-md-5">
                <select type="text" class="form-control" ng-model="areas.agnoIngreso" ng-options="obj.value as obj.label for obj in areas.agnoIngresoOptions" ng-change="areas.updateStudentData()">
                </select>
              </div>
            </div> <!-- Selector de categorías (colores) -->

            <!-- Selector de dependencia -->
            <div class="form-group">
              <label class="col-md-7 control-label">Dependencia escolar</label>
              <div class="col-md-5">
                <select type="text" class="form-control" ng-model="areas.dependenciaSelected" ng-options="obj for obj in areas.dependenciaOptions" ng-change="areas.updateStudentData()">
                </select>
              </div>
            </div> <!-- Selector de dependencia -->

            <!-- Selector de genero -->
            <div class="form-group">
              <label class="col-md-7 control-label">Genero</label>
              <div class="col-md-5">
                <select type="text" class="form-control" ng-model="areas.generoSelected" ng-options="obj.value as obj.label for obj in areas.generoOptions" ng-change="areas.updateStudentData()">
                </select>
              </div>
            </div> <!-- Selector de dependencia -->

 
        </form> <!-- Selectores - Columna 2 -->

        <!-- Selectores - Columna 3 -->
        <form class="form-horizontal col-md-4" role="form" >

            <!-- Selector de categorías (colores) -->
            <div class="form-group">
              <label class="col-md-7 control-label">Colores por</label>
              <div class="col-md-5">
                <select type="text" class="form-control" ng-model="areas.colorAttribute" ng-options="obj.value as obj.label for obj in areas.colorOptions">
                </select>
              </div>
            </div> <!-- Selector de categorías (colores) -->

 
 
        </form> <!-- Selectores - Columna 3-->

 
        </div>       
      </div>
    </div><!-- selector -->



    <div class="row main">

      <!-- Gráfico aleph -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <h3>Aleph <span class="label label-info" ng-show="areas.loading">cargando</span><span class="label label-info" ng-show="areas.alephDrawing">redibujando</span> </h3>
          </div>
          <div class="panel-body">
             <div class="row">
              <div class="col-md-12">
                 <div td-xy-chart class="col-md-12" td-data="areas.data" td-xattribute="'actividades_aleph'" td-yattribute="'prom_notas'" td-tooltip-message="areas.tooltipMessage" td-max-size="3" td-color-attribute="areas.colorAttribute" td-selected="areas.highlightedRecord" td-width="150" td-trendline="true" td-color-legend="areas.carrerasLegend"  td-drawing="areas.alephDrawing">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- aleph -->

      <!-- Gráfico ezproxy -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <h3>Ezproxy <span class="label label-info" ng-show="areas.loading">cargando</span><span class="label label-info" ng-show="areas.ezproxyDrawing">redibujando</span></h3>
          </div>
          <div class="panel-body">
             <div class="row">
              <div class="col-md-12">
                 <div td-xy-chart class="col-md-12" td-data="areas.data" td-xattribute="'actividades_ezproxy'" td-yattribute="'prom_notas'" td-tooltip-message="areas.tooltipMessage" td-max-size="3" td-color-attribute="areas.colorAttribute" td-selected="areas.highlightedRecord" td-width="150" td-trendline="true" td-drawing="areas.ezproxyDrawing">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- ezproxy -->

      <!-- Gráfico sakai -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <h3>Sakai <span class="label label-info" ng-show="areas.loading">cargando</span></span><span class="label label-info" ng-show="areas.sakaiDrawing">redibujando</span></h3>
          </div>
          <div class="panel-body">
             <div class="row">
              <div class="col-md-12">
                 <div td-xy-chart class="col-md-12" td-data="areas.data" td-xattribute="'actividades_sakai'" td-yattribute="'prom_notas'"  td-tooltip-message="areas.tooltipMessage" td-max-size="3" td-color-attribute="areas.colorAttribute" td-selected="areas.highlightedRecord" td-width="150" td-trendline="true" td-drawing="areas.sakaiDrawing">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- sakai -->


      <!-- Gráfico PSU -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <h3>PSU <span class="label label-info" ng-show="areas.loading">cargando</span><span class="label label-info" ng-show="areas.psuDrawing">redibujando</span></h3>
          </div>
          <div class="panel-body">
             <div class="row">
              <div class="col-md-12">
                 <div td-xy-chart class="col-md-12" td-data="areas.psudata" td-xattribute="'prom_paa'" td-yattribute="'prom_notas'" td-sqr-scale-x="areas.sqrScaleX" td-tooltip-message="areas.tooltipMessage" td-max-size="3" td-color-attribute="areas.colorAttribute" td-selected="areas.highlightedRecord" td-width="150" td-trendline="true" td-drawing="areas.psuDrawing">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- psu -->

    </div> <!-- main -->


    <!-- legend -->
    <div class="row text-center">
      <div class="col-md-offset-1 col-md-11">
        <div class="row text-left" ng-repeat="code in areas.carrerasLegend">
          <span style="font-size:10px; padding-left:10px; background-color:{{code.color}};">&nbsp;</span>&nbsp;{{code.key}} ({{code.n}})
        </div>
      </div>
    </div><!-- legend -->

    <!-- n -->
    <div class="row">
      <div class="col-md-12" ng-show="areas.data.length">
        n= {{areas.data.length}} estudiantes
      </div>
    </div><!-- n -->

    <!-- notas -->
    <div class="row">
      <div class="col-md-12">
        Notas: <br>
        (i)  En gráfico de PSU sólo se inlcuyen estudiantes con PSU válida (puntaje > 0)<br>
        (ii) Hacer clic sobre un estudiante, este se selecciona en todos los gráficos<br>
      </div>
    </div><!-- notas -->

  </div><!-- container -->